@media screen and (min-height: 700px)  {
    header .container-header {
        padding: 100px;
        justify-content: space-between;
    }

    .logo-cartola{
        height: 100px;
        width: 200px;
        margin-left: 0;
    }
    
    .logo-nome{
        color: red;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
    }

    .table-success{
        font-size: 10px;
    }
} 