@media screen and (min-height: 700px)  {
    header .container-header {
        padding: 150px;
        justify-content: space-between;
    }

    .logo-cartola{
        height: 170px;
        width: 300px;
        margin-left: 0;
    }
    
    .logo{
        font-size: 30px;
    }
} 