
* { /* Zerando todo arquivo de qualquer personalização */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header .container-header{
    padding: 60px;
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2{
    color: red;
}

.rodape{
    margin-top: 20px;
    font-size: 9px;
}

.container{
    display: column;
}
.progress{
    margin-top: 5px;
    margin-bottom: 30px;
}

.text-start{
    padding: 0;
}

.arrowUp{
    color: rgb(24, 190, 24);
    font-size: large;
    margin-left: 0;
}

.arrowDown{
    color: red;
}

.section-jogos{
    margin-top: 70px;
}

.proximo-jogos{
    margin-top: 30px;
}

.dia-do-jogo{
    background-color:gainsboro;
    height: 24px;
    display: grid;
    justify-content: center;
}

.dia-do-jogo-domingo{
    margin-top: 10px;
    margin-bottom: 2px;
    background-color:gainsboro;
    height: 24px;
    display: grid;
    justify-content: center;
}

.jogos-validos{
    background-color:greenyellow;
    height: 24px;
    display: grid;
    justify-content: center;
    padding-bottom: 10px;
}

.jogos-nao-validos{
    background-color:rgb(255, 71, 47);
    height: 24px;
    display: grid;
    justify-content: center;
    margin-top: 25px;
    color: white;
}

.logo-times{
    height: 35px;
    align-items: center;
}

.d-xl-grid{
text-align: center;
}

.jogos td{
    align-items: center;
}

.jogos-validos{
    margin-top: 20px;
}

.jogos-nao-validos{
    background-color:rgb(255, 71, 47);
    height: 24px;
    display: grid;
    justify-content: center;
    margin-top: 25px;
    color: white;
}

.logo-times{
    height: 35px;
}

.d-xl-grid{
text-align: center;
justify-items: center;
width: 100px;
}

.col{
    display: flex;
    width: 50px;
    height: 30px;
}

.row-cols-sm-5{
    width: 100%;
    height: 100%;
}

.jogos{
    align-items: center;
}

.jogos-next{
    margin-top: 50px;
}

.gols{
    font-size: 8px;
    font-style: italic;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 0;
    
}

.fa-futbol{
    margin-left: 2px;
}
#calendario{
    margin-left: 8px;
}

.rodada-anterior{
    margin-bottom: 0;
}
.modal-content{
    pointer-events: none;
}
