<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>
 
    <h2>Nome do Time e Sigla<h2>
    <form action="/show" method="POST">
        <input type="text" placeholder="Nome" name="name">
        <input type="text" placeholder="Sigla" name="sigla">
        <input type="text" placeholder="Estado" name="state">
        <input type="number" placeholder="Posicao" name="posicao">
        <button type="submit">Submit</button>
    </form> 
 
</body>
</html>