<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>
 
<h2>Times<h2>
    <table border="1">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Sigla</td>
                <td>Estado</td>
            </tr>
        </thead>
        <tbody>
        <% data.forEach(function(details) { %>
            <tr>
                <td><%= details.name %></td>
                <td><%= details.sigla %></td>
                <td><%= details.state %></td>
                <td><%= details.posicao %></td>
            </tr> 
            <% }) %>
        </tbody>
        <button><a href="/">Voltar</a></button>
</body>
</html>
